**/elpaca/**
**/eln-cache/**
**/transient/**
**/custom.el
**/tramp
**/tree-sitter/**


emacs/.config/emacs/elpa/
emacs/.config/emacs/.cache/
emacs/.config/emacs/**/*.eld
emacs/.config/emacs/tramp*
emacs/.config/emacs/eshell/history*
emacs/.config/emacs/tree-sitter/**
emacs/.config/emacs/projects.eld
emacs/.config/emacs/bookmarks.eld
