* {
  font-family: monospace;
  font-size: 12px;
  color: #ffffff;
  background-color: #282c34;
}

#workspaces button {
    padding: 0;
    margin: 0;
}


#clock {
  color: #61afef;
  padding-left: 8px;
  padding-right: 8px;
}

#network {
  color: #98c379;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-launcher {
  color: #ffffff;
  background-color: #333;
  padding: 0 10px;
  border-radius: 4px;
}

#custom-lock {
  color: #e06c75;
  padding-left: 8px;
  padding-right: 8px;
}

